<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoList</title>

    <link rel="icon" type="image/x-icon" href="https://boolean.careers/favicon/favicon.ico">
    <link rel="stylesheet" href="style.css" />

    <!-- Librerie terze parti -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">



    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

</head>

<body>

    <div id="app">

        <header class="p-4 bg-secondary opacity-25 display-1 text-light mb-5">
            To do List
        </header>


        <div class="container my-container rounded p-4">



            <div class="input-group input-group-lg mb-5">
                <input type="text" class="form-control border border-secondary text-secondary"
                    placeholder="Chi te muart" 
                    v-model="newTodoItem.text" 
                    @keyup.enter="clickTodoList">
                <button class="btn btn-outline-secondary fs-4 fw-bold" @click="clickTodoList">+</button>
            </div>

            <div class="overflow-hidden shadow-lg">
                <ul class="list-group list-group-flush rounded">
                    <li class="list-group-item d-flex justify-content-between fs-5" 
                    v-for="todoItem in todoList">

                        <div :class="(todoItem.done === true ? 'text-decoration-line-through' : '' )"
                        @click="lineThrough(todoItem)">    
                            <span class="fst-italic pe-none"> 
                                {{todoItem.id}} <span>)</span> {{todoItem.text}}
                            </span>
                        </div>
                        <button class="btn my-close-button" @click="cancelItem(indexItemDelete)">X</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <script src="script.js"></script>
</body>

</html>